*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;;
    --back-color: #080321; 
    --sec-back-color: #051726;
    --text-color:white;
    --sec-text-color:#e3e3e3;
    --main-transition: 0.5s;
    --main-padding:100px;
    } 
    .dark-theme {
    --back-color: white ;
    --sec-back-color: #e3e3e3;
    --text-color:#080321;
    --sec-text-color:#051726;
    }


.image-slider {
    display: flex;
    flex-flow: column;
    width: 90%;
    aspect-ratio: 16 / 9;
    min-height: 300px;
    overflow: hidden;
    border-radius: 8px;
    container-type: inline-size;
    contain: content;
    background-color: #0006;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 2px 4px,
        rgba(0, 0, 0, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 8px 16px,
        rgba(0, 0, 0, 0.15) 0px 16px 32px;
        flex: 4;
}
.image-slider.fullscreen {
    position: fixed;
    width: 97vw;
    height: 99vh;
    top: 5px;
    z-index: 111111;
}
#product-details {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
#product-details .text {
    flex: 2;
    text-align: center;
}
#product-details .text p{
    margin: 20px;
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
    line-height: 1.8;
}
#product-details .text .price{
    margin: 20px;
    font-size: 25px;
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
}
#product-details .text h2 {
    color: var(--main-color);
    margin: 20px;
    padding: 10px;
}
.slider__content__slider{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.slider-control--button {
    border: 0;
    background: 0;
    outline: 0;
    cursor: pointer;
    place-content: center;
    padding-inline: 3vw;
    z-index: 1;
    display: grid;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.slider-control--button .icon {
    font-size: 25px;
    padding: 4px 6px;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: var(--main-transition);
}
.close-fullscreen-button .icon {
    color: white;
    font-size: 25px;
}
.slider-control--button:where(:hover) {
    background-image: linear-gradient(
        to var(--position),
        #0000 0%,
        #0002,
        80%,
        #0006 100%
    );
    .icon {
        color: white;
        background: var(--main-color);
    }
}

.close-fullscreen-button {
    z-index: 1111;
    position: absolute;
    border-radius: 6px;
    border: none;
    background: red;
    top: 50px;
    left: 100px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
}
.close-fullscreen-button .icon {
    fill: white!important;
}
.close-fullscreen-button:hover {
    scale: 1.2;
}
.close-fullscreen-button.active {
    display: flex;
}


.prev-button {
    --position: left;
}
.next-button {
    --position: right;
}

.image-display {
    position: fixed;
    inset: 0;
}

.slider-navigation {
    z-index: 10;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: 100%;
    gap: 1.25rem;
    padding: 1rem;
    place-content: center;
    background-color: var(--navigation-color);
    backdrop-filter: blur(1px);
    position: relative;
    /* bottom: -110px; */
    transition: 1s;
    -webkit-transition: 1;
    -moz-transition: 1;
    -ms-transition: 1;
    -o-transition: 1;
    cursor: pointer;
}

.slider-navigation.hide {
    display: none;
}

.nav-button {
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 0;
    aspect-ratio: 16 / 9;
    transition: filter 150ms linear, scale 266ms ease;
    cursor: pointer;
}

.thumbnail {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    height: 100%;
    cursor: pointer;
    backdrop-filter: blur(1px);
    /*Applyblureffect*/background-color: rgba(23, 185, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
}

.nav-button[aria-selected="true"] {
    scale: 1.1;
}

.nav-button[aria-selected="true"],
.nav-button:focus-visible {
    outline: 0.2em solid var(--active-color);
    outline-offset: 0.2em;
}

.nav-button[aria-selected="false"] {
    filter: opacity(0.7);
}

.nav-button[aria-selected="false"]:where(:hover, :focus-visible) {
    filter: opacity(1);
}
@media (max-width:1200px) {
        #product-details {
            flex-direction: column;
            gap: 30px;
        }


    .slider-navigation {
        display: flex;
        justify-content: center;
        padding-block: 1.5em;

}

    .nav-button {
        inline-size: 0.625rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .nav-button > .thumbnail {
        display: none;
    }

    .nav-button[aria-selected="true"] {
        background-color: black;
        scale: 1.5;
    }
}
